<h3 [className]="zmienKolor">Wprowadzenie do Angulara</h3>
<input [disabled]="isDisabled" (focus)="onFocus()">
<br>
<input [disabled]="isDisabled" (click)="onClick($event)">
<br>
<input [disabled]="isDisabled" (mousemove)="onMouseMove($event)">
<br>
<input [disabled]="isDisabled" (paste)="onPaste()"> {{ inputText }}
<br>
<input [disabled]="isDisabled" (focus)="setInactiveClass()">
<br>

<button (click)="zmienUstawienia()">edytuj</button>
<button [ngClass]="statusClass" (click)="setActiveClass()">Zmień kolor</button>
<br>

<input #box>
<button type="button" (click)="onEnter(box.value)"> Wyświetl </button>
    <p>{{value}}</p>

